---
import BookItem from "../components/BookItem.astro";
import EmailWidget from "../components/EmailWidget.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Page from "../layouts/Page.astro";
const title = "Books";

export const prerender = true;

export const books = [
	
  {
		id: "god-is-on-your-side",
		date: "2025",
		postImage: "/images/god-is-on-your-side-bg.jpg",
		featuredImage: "/images/god-is-on-your-side.jpg",
		title: "God Is On Your Side",
		pdf: "god-is-on-your-side-sneak-peak.pdf",
		description:
			"Do you ever question whether God is on your side? It’s easy to believe he is when life is going well. It’s harder to believe when you’re reeling from rejection or betrayal, wrestling with depression or a terminal diagnosis, grappling with loneliness, or grieving broken dreams. Jesus reveals a God who is more on your side than you ever dared to dream. In this study on the gospel of John, you’ll discover the Creator who enters your side of creation, the Savior who fights for you on the cross, and the Redeemer who works through you with meaning and purpose.",
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/gp/product/0593445074",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/god-is-on-your-side-joshua-ryan-butler/1146518543?ean=9780593445075&st=AFF&2sid=Random%20House%20Inc_8373827_NA&sourceId=AFFRandom%20House%20Inc",
			},
			{
				store: "Bookshop.org",
				url: "https://bookshop.org/p/books/god-is-on-your-side-how-jesus-is-for-you-when-everything-seems-against-you-joshua-ryan-butler/22014933?ean=9780593445075&next=t&affiliate=2186",
			},
			{
				store: "Christianbook",
				url: "https://www.christianbook.com/side-jesus-when-everything-seems-against/9780593445075/pd/3445075?product_redirect=1&Ntt=9780593445075&item_code=&Ntk=keywords&event=ESRCN|M",
			},
			{
				store: "Books-A-Million",
				url: "https://www.booksamillion.com/p/9780593445075?cjdata=MXxOfDB8WXww&AID=10747236&PID=8373827&SID=--9780593445075&cjevent=da9b809cf47f11ef82db026b0a82b836",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/beautiful-vision-points-unlocks-explains-everything/joshua-butler/9780593445037/pd/3445037?product_redirect=1&Ntt=9780593445037&item_code=&Ntk=keywords&event=ESRCN|M",
			},
			{
				store: "Cokesbury",
				url: "https://www.cokesbury.com/9780593445075-God-Is-on-Your-Side",
			},
			{
				store: "Hudson Booksellers",
				url: "https://www.hudsonbooksellers.com/book/9780593445075?utm_source=prh&utm_medium=affiliate&utm_term=301&utm_content=--9780593445075&utm_campaign=9780593445075",
			},
		],
		testimonials: [],
	},
  {
		id: "god-is-on-your-side-participants-guide",
		date: "2025",
		postImage: "/images/god-is-on-your-side-pg-bg.jpg",
		featuredImage: "/images/god-is-on-your-side-pg.png",
		title: "God Is On Your Side (Participant's Guide)",
		pdf: "god-is-on-your-side-pg-sneak-peak.pdf",
		description:
			"When life is far from what you dreamed, you might wonder, Does God care about me at all? This companion guide to Joshua Ryan Butler’s transformative book God Is on Your Side is a welcoming place to wrestle with your doubts about God’s goodness and step boldly into a life of responding to God’s love.",
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/gp/product/0593445090?tag=",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/god-is-on-your-side-participants-guide-joshua-ryan-butler/1146851561;jsessionid=7B6BC3CBB81E26C976B2917186A3710B.prodny_store01-atgap07?ean=9780593445099&st=AFF&2sid=Random%20House%20Inc_8373827_NA&sourceId=AFFRandom%20House%20Inc",
			},
			{
				store: "Bookshop.org",
				url: "https://bookshop.org/p/books/god-is-on-your-side-participant-s-guide-joshua-ryan-butler/3b030946c90f0ed7?ean=9780593445099&next=t&affiliate=2186",
			},
			{
				store: "Christianbook",
				url: "https://www.christianbook.com/god-on-your-side-participants-guide/9780593445099/pd/3445099?product_redirect=1&Ntt=9780593445099&item_code=&Ntk=keywords&event=ESRCN%7CM",
			},
			{
				store: "Books-A-Million",
				url: "https://www.booksamillion.com/p/9780593445099?cjdata=MXxOfDB8WXww&AID=10747236&PID=8373827&SID=--9780593445099&cjevent=d89f0ec1f47e11ef80d302860a82b82d",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/beautiful-vision-points-unlocks-explains-everything/joshua-butler/9780593445037/pd/3445037?product_redirect=1&Ntt=9780593445037&item_code=&Ntk=keywords&event=ESRCN|M",
			},
			{
				store: "Cokesbury",
				url: "https://www.cokesbury.com/9780593445099-God-Is-on-Your-Side-Participants-Guide",
			},
			{
				store: "Hudson Booksellers",
				url: "https://www.hudsonbooksellers.com/book/9780593445099?utm_source=prh&utm_medium=affiliate&utm_term=301&utm_content=--9780593445099&utm_campaign=9780593445099",
			},
		],
		testimonials: [],
	},
	{
		id: "the-party-crasher",
		date: "2024",
		postImage: "/images/the-party-crasher-bg.jpg",
		featuredImage: "/images/the-party-crasher.png",
		title: "The Party Crasher",
		trailer: "https://www.youtube.com/embed/kQCDq7N5HZc?si=hR_1b4BA-_3FyF2I",

		description:
			"The political divide is wider than ever. Each side demands ultimate allegiance that’s incompatible with the Christian faith. The fervency with which so many advocate their political ideals is best described in religious terms. Fortunately, Jesus is the ultimate Party Crasher. And he is disrupting politics-as-usual to invite us to embrace a bold vision capable of redeeming our partisan divide.",
		pdf: "the-party-crasher-sneak-peak.pdf",
		preorderLink: "https://form.jotform.com/240134563753959",
		preorderBulkLink: "https://form.jotform.com/240134881589969",
		resources: [
			{
				id: "a-christian-political-pledge",
				name: "A Christian Political Commitment",
				type: "download",
				pdf: "christian-political-pledge.pdf",
			},
		],
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/gp/product/B0BXJ55PGR?tag=randohouseinc11082-20",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/the-party-crasher-joshua-ryan-butler/1143117887;jsessionid=B0AB6A7AA4B83E527203AD73DA138530.prodny_store01-atgap04?ean=9780593600672&st=AFF&2sid=Random%20House%20Inc_8373827_NA&sourceId=AFFRandom%20House%20Inc",
			},
			{
				store: "Bookshop.org",
				url: "https://bookshop.org/p/books/the-party-crasher-how-jesus-disrupts-politics-as-usual-and-redeems-our-partisan-divide-joshua-ryan-butler/19816119?ean=9780593600672&ref=&source=IndieBound&title=The+Party+Crasher%3A+How+Jesus+Disrupts+Politics+as+Usual+and+Redeems+Our+Partisan+Divide",
			},
			{
				store: "Christianbook",
				url: "https://www.christianbook.com/crasher-disrupts-politics-redeems-partisan-divide/9780593600672/pd/600672?product_redirect=1&Ntt=9780593600672&item_code=&Ntk=keywords&event=ESRCN|M",
			},
			{
				store: "Books-A-Million",
				url: "https://www.booksamillion.com/p/9780593600672?cjdata=MXxOfDB8WXww&AID=10747236&PID=8373827&SID=PRH38424DF6D6--9780593600672&cjevent=3ab9e747622211ee818300d40a1cb828",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/beautiful-vision-points-unlocks-explains-everything/joshua-butler/9780593445037/pd/3445037?product_redirect=1&Ntt=9780593445037&item_code=&Ntk=keywords&event=ESRCN|M",
			},
			{
				store: "Cokesbury",
				url: "https://www.cokesbury.com/9780593600672-The-Party-Crasher",
			},
			{
				store: "Powell’s",
				url: "https://www.powells.com/book/-9780593600672?utm_source=randomhouse&utm_campaign=randomhouse&utm_content=PRH38424DF6D6--9780593600672",
			},
		],
		testimonials: [
			{
				img: "/images/patrick-miller.png",
				name: "Patrick Miller",
				bio: "Author of Truth Over Tribe & Pastor at The Crossing",
				text: `Politics is the new religion. In the first century, no one separated politics and religion. In the 21st, we assume they're divided. But they're not. Josh Butler explores the culture war as a religious war, driven by idols and ideologies, showing how kingdom-centered peacemaking could transform our tribalized moment. Full of pastoral wisdom, The Party Crasher points us toward a vision of public engagement that cuts across party divides, and keeps Jesus's strange, beautiful vision of an enemy-loving, self-sacrificing people at the center.`,
				bg: "#FFF1EF",
			},
			{
				img: "/images/brenna-blain.png",
				name: "Brenna Blain",
				bio: "Bible teacher, author of Can I Say That?",
				text: `We all give our allegiance to something or someone. Reaching far beyond the pithy platitudes often hurled at those on the Right or the Left, Josh pulls everyone in by acknowledging one simple truth: for many of us, it’s not inherently or naturally Christ. So how do we, with our different political leanings, come to the table of Christ and sit in unity? The Party Crasher serves as a guide to answering this question that all followers of Christ should wrestle with.`,
				bg: "#FFF1EF",
			},
			{
				img: "/images/jay-kim.png",
				name: "Jay Kim",
				bio: "Pastor & Author of Analog Christian",
				text: `The Party Crasher is a must-read for any and all seeking the way of Jesus amid the fractured mess we find ourselves in today. In our hyper-polarized, us-versus-them culture, the invitation to follow Jesus as an “enemy-loving, fruit-of-the-Spirit-bearing, laying-down-our-lives-for-our-neighbors” reconciler is the only viable path toward transcending the political divides and embodying the Christian vision of peace. “God, give us soft hearts and steel spines”: I love this prayer Josh invites us into in this timely and all-important book.`,
				bg: "#FFF1EF",
			},
			{
				img: "/images/bre-golden.png",
				name: "Bre Golden",
				bio: "Pastor of Community Care at Park Hill Church",
				text: `The Party Crasher boldly and compassionately addresses the pain and tension political division has wreaked upon our country, churches, and interpersonal relationships. Josh casts a gripping vision for what it looks like to live with conviction in our cultural moment, by exposing the core ideologies of the political religions which call for the allegiance of our hearts, to subvert our bow and pledge loyalty to Jesus as the Ultimate King.`,
				bg: "#FFF1EF",
			},
			{
				img: "/images/aj-swoboda.png",
				name: "A.J. Swoboda",
				bio: "Associate professor at Bushnell University & author of After Doubt",
				text: `The Party Crasher confronts and exposes the idols we’ve too generously
harbored in our hearts. It is, to be sure, a wildly uncomfortable read. In the
Pentecostal movement, we call it “having your mail read.” But goodness
gracious: this book is wildly needed right now. It challenges our false
religions, idolatrous ideologies, and misappropriated loves with Christ’s
expansive kingdom. Josh has written a book that should shape the church
for years to come. Highly recommended.`,
				bg: "#FFF1EF",
			},
		],
	},
	{
		id: "beautiful-union",
		date: "2023",
		postImage: "/images/beautiful-union-bg.jpg",
		featuredImage: "/images/beautiful-union.jpg",
		title: "Beautiful Union",
		description:
			"It's time to better understand God’s redemptive vision for humanity's greatest obsession. In this bold book, award-winning author Joshua Ryan Butler helps listeners rediscover the beauty of the traditional Christian theology of sex by framing it within the greater things it is designed to point to.",
		pdf: "BeautifulUnion_SP.pdf",
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/gp/product/B0B7L3ZS9G?tag=randohouseinc11082-20",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/beautiful-union-joshua-ryan-butler/1141877036;jsessionid=68E62AB0586B46B43994D7A5DA6F55A1.prodny_store01-atgap14?ean=9780593445037&st=AFF&2sid=Random%20House%20Inc_8373827_NA&sourceId=AFFRandom%20House%20Inc",
			},
			{
				store: "Target",
				url: "https://www.target.com/p/beautiful-union-by-joshua-ryan-butler-paperback/-/A-88062628#lnk=sametab",
			},
			{
				store: "Walmart",
				url: "https://www.walmart.com/ip/Beautiful-Union-How-God-s-Vision-for-Sex-Points-Us-to-the-Good-Unlocks-the-True-and-Sort-Of-Explains-Everything-Paperback-9780593445037/1212745299",
			},
			{
				store: "Books-A-Million",
				url: "https://www.booksamillion.com/p/9780593445037?AID=10747236&PID=8373827&SID=PRH38424DF6D6--9780593445037&cjevent=9a1d0dc367a111ed821500210a82b838&cjdata=MXxOfDB8WXww",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/beautiful-vision-points-unlocks-explains-everything/joshua-butler/9780593445037/pd/3445037?product_redirect=1&Ntt=9780593445037&item_code=&Ntk=keywords&event=ESRCN|M",
			},
			{
				store: "Cokesbury",
				url: "https://www.cokesbury.com/9780593445037-Beautiful-Union",
			},
			{
				store: "Indiebound",
				url: "https://www.indiebound.org/book/9780593445037?aff=penguinrandom",
			},
		],
		testimonials: [
			{
				img: "/images/kristin-knave.png",
				name: "Kristin Knave",
				bio: "Creator - SheLovesBible",
				text: `“What a timely and much-needed book! Whether you are married or single, this is a must-read that will give you clarity on the meaning and purpose of sex.”`,
				bg: "#FFF1EF",
			},
			{
				img: "/images/john-mark-comer.png",
				name: "John Mark Comer",
				bio: "Author - Live No Lies",
				text: `“One of the books for our time. An essential read. It expertly captures the beauty of orthodox Christian sexuality in a way that is thoughtful, well researched, well written, and deeply compelling.”`,
				bg: "#F7F0E3",
			},
			{
				img: "/images/albert-tate.png",
				name: "Albert Tate",
				bio: "Author - How We Love Matters",
				text: `“Josh Butler has done it again. He has a way of taking the things I’ve been trying to think through and giving words and clarity to those issues and concerns. Thank you, Josh—you just made my preaching and leading easier.”`,
				bg: "#EBEDFF",
			},
			{
				img: "/images/jen-pollock-michel.png",
				name: "Jen Pollock Michel",
				bio: "Author - In Good Time",
				text: `“Beautiful Union by Joshua Ryan Butler is a marvel. Its simplicity is its profundity; its truth is its love. I finished these pages in tears, my imagination renewed and expanded to consider the pursuing, self-giving love God has shown to his people through Christ.”`,
				bg: "#E0F0F3",
			},
		],
	},
	{
		id: "beautiful-union-study-guide",
		date: "2023",
		postImage: "/images/beautiful-union-study-guide-bg.jpg",
		featuredImage: "/images/beautiful-union-study-guide.jpg",
		title: "Beautiful Union (Study Guide)",
		description:
			"Designed as a companion to that life-changing book, this dynamic study guide is your road map for diving more deeply into the key concepts of Beautiful Union--whether by yourself or with a group.",
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/gp/product/0593445058?tag=randohouseinc11082-20",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/beautiful-union-study-guide-joshua-ryan-butler/1141877029?ean=9780593445051&st=AFF&2sid=Random%20House%20Inc_8373827_NA&sourceId=AFFRandom%20House%20Inc",
			},
			{
				store: "Target",
				url: "https://www.target.com/p/beautiful-union-study-guide-by-joshua-ryan-butler-paperback/-/A-87350753#lnk=sametab",
			},
			{
				store: "Walmart",
				url: "https://www.walmart.com/ip/Beautiful-Union-Study-Guide-A-Practical-Companion-Deep-Reflection-Good-Conversation-Tough-Questions-You-Really-Want-Ask-But-Haven-t-Yet-Paperback-9780593445051/1025618479",
			},
			{
				store: "Books-A-Million",
				url: "https://www.booksamillion.com/p/9780593445051?AID=10747236&PID=8373827&SID=PRH38424DF6D6--9780593445051&cjevent=5f59b19b67a211ed831200220a82b820&cjdata=MXxOfDB8WXww",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/beautiful-practical-companion-reflection-conversation-questions/joshua-butler/9780593445051/pd/3445051?product_redirect=1&Ntt=9780593445051&item_code=&Ntk=keywords&event=ESRCN%7CM",
			},
			{
				store: "Cokesbury",
				url: "https://www.cokesbury.com/9780593445037-Beautiful-Union",
			},
			{
				store: "Indiebound",
				url: "https://www.indiebound.org/book/9780593445051?aff=penguinrandom",
			},
		],
	},
	{
		id: "the-skeletons-in-gods-closet",
		date: "2015",
		postImage: "/images/the-skeletons-in-gods-closet-bg.jpg",
		featuredImage: "/images/the-skeletons-in-gods-closet.jpg",
		title: "The Skeletons in God's Closet",
		description: `Is God a sadistic torturer? Coldhearted judge? Genocidal maniac? Unfortunately, our popular caricatures often make him out to be. There are some questions no Christian wants to be asked. Many today believe hell, judgment and holy war are "skeletons in God's closet," tough topics that, if looked at closely, would reveal a cruel, vindictive tyrant rather than a good and loving God. And we aren't comfortable with the answers we've been given.
-"How can a loving God send people to Hell?"
-"Isn't it arrogant to believe Jesus is the only way to God?"
-"Why is there so much violence in the Old Testament?"
In this book, we'll pull these bones out into the open to exchange popular caricatures for the beauty and power of the real thing. We'll discover these topics were never really skeletons at all... but proclamations of a God who is good "in his very bones," not just in what he does, but in who he is. We'll fling the wide the closet door and sing loudly, boldly and clearly: God is good and coming to redeem his world. `,
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/Skeletons-Gods-Closet-Surprise-Judgment/dp/0529100819",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/the-skeletons-in-gods-closet-joshua-ryan-butler/1119060530?ean=9780529100818",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/skeletons-closet-mercy-surprise-judgment-holy/joshua-butler/9780529100818/pd/9100818",
			},
		],
	},
	{
		id: "the-persuing-god",
		date: "2016",
		postImage: "/images/the-persuing-god-bg.jpg",
		featuredImage: "/images/the-pursuing-god.jpg",
		title: "The Pursuing God",
		description: `Is God lost? Many of us feel that way. It's as if God's gone missing, out in the universe somewhere--and we must pick up the hunt, following any trail of breadcrumbs to go find him. We speak of "searching for God,""exploring spirituality," and "finding faith." But what if we have it backward and God is the one pursuing us?What if our job is not to go find God, but to stop running and hiding?Not to discover the light, but step out of the shadows? Not to earnGod's love, but simply receive it? Jesus reveals a God who comes after us, who is on the prowl, hunting down his world for reconciliation. And the question we're left withis not whether we've been good enough, jumped high enough, or sought hard enough... The question is: "Do we want to be found?"`,
		options: [
			{
				store: "Amazon",
				url: "https://www.amazon.com/Pursuing-God-Reckless-Irrational-Obsessed/dp/0718021606",
			},
			{
				store: "Barnes & Noble",
				url: "https://www.barnesandnoble.com/w/the-pursuing-god-joshua-ryan-butler/1122252442",
			},
			{
				store: "Christian Book",
				url: "https://www.christianbook.com/pursuing-reckless-irrational-obsessed-dying-bring/joshua-butler/9780718021603/pd/021603",
			},
		],
	},
];
---

<Page title={title} description="Books by Joshua Ryan Butler" slug="books">
  <TableOfContents slot="aside" links={books} title="Books" />
  <EmailWidget slot="aside" />
  <div class="grid gap-[120px]">
    {books.map((book) => <BookItem {...book} />)}
  </div>
</Page>
