---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Josh Butler">
	<main class="font-body text-2xl font-medium">
		<h1>Welcome to Astro.</h1>
		<h2>Here is an H2</h2>
		<h3>Here is an H3</h3>
		<h4>Here is an H4</h4>
		<h5>Here is an H5</h5>
		<h6>Here is an H6</h6>
		<p>Learn more about Astro in the <a href="https://docs.astro.build">documentation</a>.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: 55ch;
	}
</style>

