---
import { getRuntime } from "@astrojs/cloudflare/runtime";
import Book from "../components/Book.astro";
import Callout from "../components/Callout.astro";
import HeroSection from "../components/HeroSection.astro";
import RecentPosts from "../components/RecentPosts.astro";
import SpeakingEngagements from "../components/SpeakingEngagements.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/getPosts";
import { books } from "./books.astro";

const postData = await getPosts(getRuntime(Astro.request));
const recentPosts = postData[0].recentPosts;
const title = "Joshua Ryan Butler";
const description =
  "I’m a pastor of Redemption Tempe in Arizona, the author of Beautiful Union (and a few other books), and a fellow with The Keller Center for Cultural Apologetics.";
---

<Layout title={title} description={description} slug="home">
  <HeroSection slot="header" />
  <main>
    <section class="outer-container">
      <Callout />
    </section>
    <section class="relative h-[750px] md:h-[650px]">
      <div class="mb-8 outer-container">
        <h4 class="mb-8">More Books</h4>
        <p class="max-w-[55ch]">
          I love shifting paradigms, to help people who wrestle with tough
          topics of the Christian faith by confronting popular caricatures and
          replacing them with the real thing.
        </p>
      </div>
      <div
        class="absolute w-full bottom-0 overflow-auto pl-[2rem] lg:pl-[calc((100vw_-_(1120px_-_4rem))_/_2)] pt-40"
      >
        <ul class="inline-flex gap-20 items-center w-full">
          {
            books.map((book) => (
              <li class="block shrink-0">
                <a href={`/books#${book.id}`} class="block">
                  <Book {...book} />
                </a>
              </li>
            ))
          }
          <li class="pr-10">
            <a
              href="/books"
              class="grid gap-4 place-items-center text-xl font-body"
            >
              <span
                class="w-[48px] h-[48px] rounded-full border border-[var(--black)] flex items-center justify-center -rotate-90"
              >
                <img width="12px" height="12px" src="/images/down-arrow.svg" />
              </span>
              <span class="whitespace-nowrap text-center">Learn More</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="py-20 grid md:grid-cols-2 gap-20 outer-container">
      <RecentPosts posts={recentPosts} />
      <SpeakingEngagements />
    </section>
  </main>
</Layout>

<style>
  figure img {
    width: 100%;
    box-shadow: 16px 16px 0px 0px var(--gold);
  }
</style>
