<div
  class="banner bg-[#000958] text-white fixed bottom-2 right-2 z-10 w-full max-w-[400px] p-8 rounded-xl grid grid-cols-[auto_1fr] gap-6"
>
  <figure>
    <img width="120px" src="/images/beautiful-union.jpg" />
  </figure>
  <div class="font-sans text-[16px] self-center">
    <p class="text-[14px]">
      Introducing:
    </p>
    <a href="/books#beatiful-union" class="underline banner-link block mb-2">
      <b class="font-bold">Beautiful Union</b>
    </a>
    <p class="text-[16px]">
      How God’s vision for sex points us to the good, unlocks the true, and
      (sort of) explains everything.
    </p>
  </div>
  <button class="absolute right-[16px] top-[16px]" id="close-btn">
    <img
      
      src="/images/close.svg"
      width={12}
      height={12}
    />
  </button>
</div>

<style>
  figure {
    margin: 0;
    padding: 0;
  }
  .banner {
    animation: banner 2s ease-in-out;
  }

  @keyframes banner {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    70% {
      opacity: 0;
      transform: translateY(80px);
    }

    85% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
<script>
  const btn = document.getElementById("close-btn") as HTMLButtonElement;

  function hide() {
    if (btn.parentElement) {
      btn.parentElement.style.display = "none";
    }
  }

  if (!localStorage.getItem("banner")) {
    btn.addEventListener("click", () => {
      hide();
      localStorage.setItem("banner", "dismissed");
    });
  } else {
    hide();
  }
</script>
