---
import WhereToBuy from "./WhereToBuy.astro";
const { id, title, description, postImage } = Astro.props;
---

<section class="grid gap-10">
  <h4 id={id}>{title}</h4>
  <p>{description}</p>
  <figure>
    <img src={postImage} />
  </figure>
  <WhereToBuy />
</section>
