<h4 id="contact" class="text-2xl">Contact</h4>
<p>
  The best way to get in touch with me is to send me an email at
  <a
    href={`mailto:joshua.butler@gmail.com?subject=${encodeURIComponent(
      "Speaking Engagement / Website Contact"
    )}`}
  >
    joshua.butler@gmail.com
  </a>
</p>
