---
import Input from "./Input.astro";
---

<form class="relative flex items-center" action="/api/email-signup" method="post">
  <Input
    type="email"
    name="email"
    placeholder="Enter your email address"
    required
  />
  <div class="absolute right-2">
    <button
      type="submit"
      class="grid gap-4 place-items-center text-xl font-body"
    >
      <span
        class="w-[32px] h-[32px] rounded-full border border-black flex items-center justify-center -rotate-90"
      >
        <img width="12px" height="12px" src="/images/down-arrow.svg" />
      </span>
    </button>
  </div>
</form>
<script is:inline>
  function cookieExists(name) {
    const cookies = document.cookie;
    const cookieArray = cookies.split(";");
    return cookieArray.some((cookie) => cookie.trim().startsWith(`${name}=`));
  }

  if (cookieExists("emailsignupstatus")) {
    let form = document.querySelector(".email-signup-wrapper");
    let parent = form.parentNode;
    let el = document.createElement("p");
    el.classList.add("text-xl", "font-body");
    el.innerText = "Thanks for signing up! 🎉";
    parent.appendChild(el)
    parent.removeChild(form);
  }
</script>
