<footer class="bg-black text-white py-10">
  <div class="outer-container">

    <p id="copyright" class="text-lg opacity-50"></p>
  </div>
</footer>
<style>

</style>

<script is:inline>
  let d = new Date();
  let n = d.getFullYear();
  let el = document.getElementById("copyright");
  if (el) {
    el.innerHTML = "© Josh Butler " + n + " - All Rights Reserved";
  }
</script>
