<section class="grid md:grid-cols-[1fr_auto] gap-20 py-20 w-full">
  <div class="grid gap-10">
    <h1>Hi, I'm Josh</h1>
    <p>
      I’m a pastor of <a
        class="underline"
        href="https://tempe.redemptionaz.com"
        target="_blank">Redemption Tempe</a
      > in Arizona, the author of Beautiful Union (and a few other books), and a
      fellow with The Keller Center for Cultural Apologetics. I love shifting paradigms,
      to help people who wrestle with tough topics of the Christian faith by confronting
      popular caricatures and replacing them with the real thing.
    </p>
    <a href="#latest-work" class="flex gap-4 items-center text-xl font-body">
      <span
        class="w-[48px] h-[48px] rounded-full border border-[var(--black)] flex items-center justify-center"
      >
        <img width="12px" height="12px" src="/images/down-arrow.svg" />
      </span>
      See my latest work
    </a>
  </div>
  <figure class="self-center p-0 m-0">
    <img
      class="w-full h-auto md:max-w-[400px]"
      src="/images/josh.jpg"
      alt="Josh Butler"
    />
  </figure>
</section>
