<nav
  class="flex justify-between p-10 w-full mx-auto gap-4 relative fade-in fast"
>
  <a class="logo" href="/">Joshua Ryan Butler</a>
  <div class="hidden md:flex flex-end md:gap-8 flex-col md:flex-row">
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/books">Books</a>
    <a class="nav-link" href="/speaking">Speaking</a>
    <a class="nav-link" href="/party-crasher-ministry-resources">Resources</a>
    <a class="nav-link" href="/blog">Blog</a>
  </div>
  <div class="relative md:hidden">
    <label for="menu" class="font-sans text-base">Menu</label>
    <input name="menu" id="menu" type="checkbox" class="hidden" />
    <div class="hidden flex-col gap-4 mobile-menu fixed w-full left-0 p-8 bg-[#f6f6f6]">
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link" href="/speaking">Speaking</a>
      <a class="nav-link" href="/party-crasher-ministry-resources">Resources</a>
      <a class="nav-link" href="/blog">Blog</a>
    </div>
  </div>
</nav>

<style>
  nav {
    font-size: 1.25rem;
    @apply relative;
    z-index: 3;
  }

  label:has(+ input:checked):before {
    content: "－";
  }

  label:before {
    content: "＋";
  }

  .nav-link {
    @apply font-bold font-serif;
  }

  .logo {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
  }

  a.active {
    text-decoration: underline wavy var(--gold) !important;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--gold);
  }

  input:checked ~ .mobile-menu {
    display: flex;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>

<script is:inline>
  document.querySelectorAll(".nav-link").forEach((link) => {
    const { pathname } = window.location;
    const { pathname: path } = link;
    if (path === pathname || (path.length > 1 && pathname.includes(path))) {
      link.classList.add("active");
    }
  });
</script>
