<div class="grid gap-8 grid-rows-[auto_1fr]">
  <h4>Speaking Engagements</h4>
  <p>
    I love to help people encounter Christ in a fresh way. Please feel free to
    check out some <a href="speaking" class="underline">recent sample messages</a> and let me know if I can help explore
    crafting a message that’s the right fit for your event.
  </p>
</div>
