---
const { links, title } = Astro.props;
---

<div>
  <h4 class="mb-8">{title}</h4>
  <ul class="grid gap-6">
    {
      links.map(({ id, title }: { id: string; title: string }) => (
        <li>
          <a class="text-xl underline" href={`${Astro.url.origin}/books/${id}`}>
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style is:global>
  .active {
    font-weight: bold;
  }
</style>


