---
interface Testimonial {
  name: string;
  designation: string;
  avatar: string;
  message: string;
}
import TestimonialCard from "./TestimonialCard.astro";
const { testimonials, title } = Astro.props;
---

<section class="py-[120px]">
  <header class="text-center mb-10">
    <h5 class="font-sans text-[22px] mb-4">Testimonials</h5>
    <p class="text-[18px]">
      Love for <b class="font-bold">{title}</b> from leading voices.
    </p>
  </header>
  <div class="overflow-auto py-8 outer-container">
    <ul class="grid md:grid-cols-2 gap-12 items-center">
      {
        testimonials.map((tesimonial: Testimonial, i: number) => {
          return (
            <li class="block" style={{ "--delay": i * 100 }}>
              <TestimonialCard {...tesimonial} />
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
