---
import Layout from "./Layout.astro";
export interface Props {
  title: string;
  date?: string;
  description: string;
  slug: string;
}

const title = Astro.props?.title || "Untitled";
const date = Astro.props?.date;
const description = Astro.props?.description || "No description";
const slug = Astro.props?.slug;
---

<Layout title={title} description={description} slug={slug}>
  <div slot="header" class="pt-10 pb-20">
    {
      date && (
        <p class="text-base font-sans mb-4">
          <time datetime={new Date(date).toISOString()}>
            {new Date(date).toLocaleDateString("en-US")}
          </time>
        </p>
      )
    }
    <h1 class="text-3xl md:text-4xl">{title}</h1>
  </div>
  <div
    class="grid md:grid-cols-[1fr_300px] gap-20 py-20 min-w-0 outer-container"
  >
    <main class="page-content">
      <slot />
    </main>
    <aside class="sticky top-20 self-start grid gap-10">
      <slot name="aside" />
    </aside>
  </div>
</Layout>

<style is:global>
  .page-content {
    @apply grid gap-10 min-w-[0px];
  }

  .page-content a {
    @apply underline;
  }

  .page-content ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .page-content h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @apply text-2xl;
  }

  .page-content h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @apply text-2xl;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    @apply font-serif font-medium italic my-8 overflow-hidden;
  }
</style>
